.main-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: central;

}

#header {
    margin-top: 8px;
    margin-left: 100px;
}

#new_board {
    margin-top: 8px;
    margin-right: 100px;
}

.jumbotron {
    margin: 10px auto;
    padding: 10px;
    padding-top: 15px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    border: blueviolet 1px solid;
    border-radius: 20px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.board-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.board-title {
    margin: 10px;
}

.board-title-div {
    width: 100%;
    background-color: rgba(158, 46, 255, 0.51);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card, .add_columns {
    margin: 10px 20px;
}

.card {
    border: blueviolet 1px dashed;
    padding: 15px;
    text-align: center;
}

.column {
    margin: 15px;
    max-width: 400px;
    height: auto;
    overflow: hidden;
}
