{% extends 'layout.html' %}

{% block local_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/boards.js') }}" defer></script>
{% endblock %}

{% block title %}Pro Man{% endblock %}

{% block content %}
    <header class="jumbotron main-header">
        <h1 id="header">Pro Man</h1>
        <button id="new_board" type="button" class="btn btn-primary">+ New Board</button>
    </header>
    {% for board in boards_data %}
        <div class="container board">
            <div class="board-title-div header">
                <input type="text" class="input-field">
                <h2 id="board{{ board.id }}" class="board-title">{{ board.title }}</h2>
            </div>
            <div class="board-content">
                {% for column in board['columns_data'] %}
                    <div class="column">
                        <div class="column-title">
                            <h4>{{ column.title }}</h4>
                        </div>
                        <div class="column-content">
                            {% for card in column['cards'] %}
                                <div id="card{{ card.id }}" class="card">
                                    {{ card.title }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-light add_columns">Add column</button>
            </div>
        </div>
    {% endfor %}
{% include 'board_template.html' %}
{% endblock %}