<template id="board_template">
    <div class="board-title-div header">
        <input type="text" class="board-input">
            <div class="expand-button">
                    <h2  class="board-title">new board</h2>
                    <button class="btn btn-primary button expand">Expand</button>
            </div>
    </div>
    <div class="board-content">
        <div class="columns">
            <div class="column">
                <div class="column-title">
                    <input type="text" class="column-input">
                    <h4>This column's title</h4>
                </div>
                <div class="column-content">
                        <div class="card">This card's content</div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-light add_columns">Add column</button>
        </div>
    </div>

</template>